// @import 'variables';

.AuthFormInput {
	width: 13rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--bg-color);

	&Button {
		background-color: var(--accent-color);
		color: var(--accent-text-color);
		font-size: var(--font-size);
	}
}
